automation/n8n/stripe_checkout_webhook_v1.json
{
  "name": "food_truck_with_merge",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a3679df1-ca2a-47e6-9cce-53d98b99ba47/webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook Stripe",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1440, 3168],
      "webhookId": "a3679df1-ca2a-47e6-9cce-53d98b99ba47"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }"
      },
      "id": "respond",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-1216, 3040]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst type = body.type;\nconst obj = body.data?.object || {};\n\nconsole.log('📥 Webhook type:', type);\n\nlet sessionId = null;\nlet paymentIntentId = null;\nlet orderId = null;\n\nif (type === 'checkout.session.completed') {\n  sessionId = obj.id;\n  paymentIntentId = obj.payment_intent;\n  orderId = obj.metadata?.order_id;\n} else if (type === 'payment_intent.succeeded') {\n  paymentIntentId = obj.id;\n  orderId = obj.metadata?.order_id;\n}\n\nconst amount = obj.amount_total || obj.amount || 0;\n\nlet email = null;\nlet phone = null;\n\nif (obj.customer_details) {\n  email = obj.customer_details.email;\n  phone = obj.customer_details.phone;\n}\n\nif (obj.metadata) {\n  email = email || obj.metadata.customer_email;\n  phone = phone || obj.metadata.customer_phone;\n  orderId = orderId || obj.metadata.order_id;\n}\n\nemail = email || obj.receipt_email;\nconst pickupSlot = obj.metadata?.pickup_slot || null;\n\nlet items = [];\ntry {\n  if (obj.metadata?.items) items = JSON.parse(obj.metadata.items);\n} catch (e) {}\n\nlet status = obj.status;\nif (type === 'checkout.session.completed') status = 'succeeded';\nif (type === 'payment_intent.succeeded') status = 'succeeded';\nif (type === 'payment_intent.payment_failed') status = 'failed';\n\nconsole.log('✅ Extracted:', { type, sessionId, paymentIntentId, orderId });\n\nreturn [{ json: { type, sessionId, paymentIntentId, orderId, amount, currency: obj.currency || 'eur', email, phone, pickupSlot, items, status, raw: body } }];"
      },
      "id": "extract",
      "name": "Extract Payment Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1216, 3168]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uxhymccilxfwltlvmlzc.supabase.co/rest/v1/payments?on_conflict=stripe_payment_intent_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4aHltY2NpbHhmd2x0bHZtbHpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDQ4MjM0NCwiZXhwIjoyMDg2MDU4MzQ0fQ.uZnFDjeqJ0ZlrBJcSp3mAX2GFHfOLN-N0J29mNpvV1Q"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4aHltY2NpbHhmd2x0bHZtbHpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDQ4MjM0NCwiZXhwIjoyMDg2MDU4MzQ0fQ.uZnFDjeqJ0ZlrBJcSp3mAX2GFHfOLN-N0J29mNpvV1Q"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stripe_payment_intent_id\": \"{{ $json.paymentIntentId || $json.sessionId }}\",\n  \"amount\": {{ $json.amount }},\n  \"currency\": \"{{ $json.currency }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"provider\": \"stripe\"\n}",
        "options": {}
      },
      "id": "upsert",
      "name": "Upsert Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-992, 3072]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [-768, 3168]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uxhymccilxfwltlvmlzc.supabase.co/rest/v1/audit_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4aHltY2NpbHhmd2x0bHZtbHpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDQ4MjM0NCwiZXhwIjoyMDg2MDU4MzQ0fQ.uZnFDjeqJ0ZlrBJcSp3mAX2GFHfOLN-N0J29mNpvV1Q"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4aHltY2NpbHhmd2x0bHZtbHpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDQ4MjM0NCwiZXhwIjoyMDg2MDU4MzQ0fQ.uZnFDjeqJ0ZlrBJcSp3mAX2GFHfOLN-N0J29mNpvV1Q"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"{{ $json.type }}\",\n  \"source\": \"stripe_webhook\",\n  \"entity_type\": \"payment\",\n  \"entity_id\": \"{{ $json.paymentIntentId || $json.sessionId }}\",\n  \"payload\": {{ JSON.stringify($json.raw) }}\n}",
        "options": {}
      },
      "id": "audit",
      "name": "Insert Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-560, 3168]
    },
    {
      "parameters": {
        "jsCode": "const auditLog = $input.first().json;\n\nlet orderId = null;\nlet sessionId = null;\nlet paymentIntentId = null;\nlet type = null;\nlet status = null;\n\nif (auditLog.payload) {\n  const payload = typeof auditLog.payload === 'string' ? JSON.parse(auditLog.payload) : auditLog.payload;\n  type = payload.type;\n  const obj = payload.data?.object || {};\n  \n  if (type === 'checkout.session.completed') {\n    sessionId = obj.id;\n    paymentIntentId = obj.payment_intent;\n    orderId = obj.metadata?.order_id;\n  } else if (type === 'payment_intent.succeeded') {\n    paymentIntentId = obj.id;\n    orderId = obj.metadata?.order_id;\n  }\n  \n  status = obj.status || 'unknown';\n}\n\nconsole.log('📦 Extracted from audit:', { type, orderId, sessionId, paymentIntentId, status });\n\nreturn [{ json: { type, orderId, sessionId, paymentIntentId, status } }];"
      },
      "id": "extract-from-audit",
      "name": "Extract Order ID from Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-336, 3168]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "check-orderid",
              "leftValue": "={{ $json.orderId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-has-orderid",
      "name": "IF Has Order ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-112, 3168]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst orderId = data.orderId;\n\nif (!orderId) {\n  console.error('❌ No orderId!');\n  return [];\n}\n\nconsole.log('⏳ Waiting 5s for order creation. OrderId:', orderId);\nawait new Promise(resolve => setTimeout(resolve, 5000));\nconsole.log('✅ Wait complete. Searching for order...');\n\nreturn [{ json: { orderId } }];"
      },
      "id": "wait-node",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [112, 3040]
    },
    {
      "parameters": {
        "url": "=https://uxhymccilxfwltlvmlzc.supabase.co/rest/v1/orders?id=eq.{{ $json.orderId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4aHltY2NpbHhmd2x0bHZtbHpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDQ4MjM0NCwiZXhwIjoyMDg2MDU4MzQ0fQ.uZnFDjeqJ0ZlrBJcSp3mAX2GFHfOLN-N0J29mNpvV1Q"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4aHltY2NpbHhmd2x0bHZtbHpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDQ4MjM0NCwiZXhwIjoyMDg2MDU4MzQ0fQ.uZnFDjeqJ0ZlrBJcSp3mAX2GFHfOLN-N0J29mNpvV1Q"
            }
          ]
        },
        "options": {}
      },
      "id": "find",
      "name": "Find Order by ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [336, 3040]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nconsole.log('🔍 Find Order response:', JSON.stringify(response).substring(0, 200));\n\nif (!response || (Array.isArray(response) && response.length === 0)) {\n  console.error('❌ No order found in database');\n  return [];\n}\n\nconst order = Array.isArray(response) ? response[0] : response;\n\nif (!order || !order.id) {\n  console.error('❌ Invalid order structure');\n  return [];\n}\n\nconsole.log('✅ Order found:', order.id, '| Pickup code:', order.pickup_code, '| Status:', order.status);\nreturn [{ json: order }];"
      },
      "id": "extract-order",
      "name": "Extract Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 3040]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://uxhymccilxfwltlvmlzc.supabase.co/rest/v1/orders?id=eq.{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4aHltY2NpbHhmd2x0bHZtbHpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDQ4MjM0NCwiZXhwIjoyMDg2MDU4MzQ0fQ.uZnFDjeqJ0ZlrBJcSp3mAX2GFHfOLN-N0J29mNpvV1Q"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4aHltY2NpbHhmd2x0bHZtbHpjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDQ4MjM0NCwiZXhwIjoyMDg2MDU4MzQ0fQ.uZnFDjeqJ0ZlrBJcSp3mAX2GFHfOLN-N0J29mNpvV1Q"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"paid\"\n}",
        "options": {}
      },
      "id": "update",
      "name": "Update Order Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [784, 3040]
    },
    {
      "parameters": {
        "jsCode": "const order = $input.first().json[0] || $input.first().json;\n\nif (!order) {\n  console.error('❌ No order in Format SMS input');\n  return [];\n}\n\nconst phone = order.customer_phone;\nconst email = order.customer_email;\nconst pickupCode = order.pickup_code || 'N/A';\nconst pickupTime = order.pickup_time ? new Date(order.pickup_time).toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' }) : 'N/A';\nconst totalAmount = order.total_amount || 0;\n\nconst smsMessage = `🍔 Commande confirmée !\\n\\nCode : ${pickupCode}\\nHeure : ${pickupTime}\\nLieu : Place de la Bastille\\n\\nMontant : ${(totalAmount / 100).toFixed(2)}€\\n\\nMontrez ce SMS au food truck.`;\n\nconsole.log('📱 SMS prepared | Phone:', phone, '| Code:', pickupCode);\n\nreturn [{ json: { phone, email, smsMessage, pickupCode, pickupTime, totalAmount, orderId: order.id } }];"
      },
      "id": "format-sms",
      "name": "Format SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 3040]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/ACa6be732cf7bcd5a567cc03f362890d16/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "+18564601974"
            },
            {
              "name": "To",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.smsMessage }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-sms",
      "name": "Send SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1232, 3040],
      "credentials": {
        "httpBasicAuth": {
          "id": "1eBOecciL4Upo0B9",
          "name": "Twilio Basic Auth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Stripe": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Payment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payment Data": {
      "main": [
        [
          {
            "node": "Upsert Payment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Upsert Payment": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Insert Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Audit Log": {
      "main": [
        [
          {
            "node": "Extract Order ID from Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order ID from Audit": {
      "main": [
        [
          {
            "node": "IF Has Order ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Order ID": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Find Order by ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Order by ID": {
      "main": [
        [
          {
            "node": "Extract Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order": {
      "main": [
        [
          {
            "node": "Update Order Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Order Status": {
      "main": [
        [
          {
            "node": "Format SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format SMS": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "final-corrected-with-extract-node",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68bf2354ac507a5ef348f411a41d7891d778ecbcdc879fc36ef276ae1f222f6d"
  },
  "id": "1pfdFOpRaYDvBLyg8CtfU",
  "tags": []
}